:root{
  --offwhite: #EFEFEF;
  --blue: #018DED;
}

img {
  position: fixed;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  z-index: -1;
}

.box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items:center;
}

.box > * {
  margin: 10px;
  box-shadow: 2px 3px gray;
}

input {
  position: absolute;
  width: 200px;
  top: 40px;
  height: 25px; /* Specified height */
}

html {
  background: var(--blue);
  background-size:cover;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    5px 5px 0px 5px black,
    inset 0 1px 0 5px black;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

p {
  transform: rotate(-90deg);
}

.tick {
  width: 50%;
  height: 6px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
}

.tick-inside {
  width: 25%;
  height: 6px;
  /* background:black; */
  position: absolute;
}

.hour-box, .second-box, .minute-box {
  clear: both;
  height: 6px;
  background: black;
  position: relative;
  float: left;
  transform-origin: left;
}

.hour-box {
  width: 50%;
  left: 50%;
}

.minute-box {
  width: 70%;
  left : 30%;
}

.second-box {
  width: 90%;
  left : 10%;
  background : red;
}

.hand {
  display: flex;
  flex-direction: flex-start;
  width:50%;
  height:6px;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 250px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 15px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: 	#ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 15px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: 	#ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 15px;
}